{% load static %}
<html>
    <head>
            
            
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <title>Welcome Kopwer</title>
            <h1><a href="{% url 'post_list' %}">Kopwer's Blog</a></h1>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
    
    </head>
    <body>
       {% block content %}
       {% endblock %}
    
    </body>
</html>