{% load static %}
<html>
    <head>
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Kopwer's Blog</title>
        <h1>Welcome Kopwer</h1>
        
    </head>
    <body>
        {% for post in posts %}
        <div>
         <h2><a href="">{{post.title}}</a></h2>
         <p>Published Date :{{post.published_date}}</p>
         <p>{{post.text|linebreaksbr}}</p>
        </div>
        {% endfor %}
    
    </body>
</html>